<footer>
    <div class="main-content">
        <div class="lft box">
            <h2>
                Navigate NoxuMeal
            </h2>
            <div class="content">
                <div class="nav">
                    <p><i class="fas fa-info"></i><a href="/about"><span>About Us</span></a></p>
                    <p><i class="fas fa-th-list"></i><a href="/menu"><span>On The Menu</span></a></p>
                    {{#if user}}
                        <p><i class="fas fa-user-circle"></i><a href={{#if user.super_user}}"/sdash"{{else}}"/dash"{{/if}}><span>Dashboard</span></a></p>
                        <p><i class="fas fa-sign-out-alt"></i><a href="/Logout"><span>Logout</span></a></p>
                    {{else}}
                        <p><i class="fas fa-user"></i><a href="#" onclick="openForm('login'); closeForm('register'); on(); return false;"><span>Login In</span></a></p>
                        <p><i class="fas fa-sign-in-alt"></i><a href="#" onclick="openForm('register'); closeForm('login'); on(); return false;"><span>Register</span></a></p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="center box">
            <h2>
                Contact Info
            </h2>
            <div class="content">
                <div class="place">
                    <span class="fas fa-map-marker-alt"></span>
                    <span class="text">Canada, Toronto</span>
                </div>
                <div class="phone">
                    <span class="fas fa-phone-alt"></span>
                    <span class="text">+6476089491</span>
                </div>
                <div class="email">
                    <span class="fas fa-envelope"></span>
                    <span class="text">ikondrakov@myseneca.ca</span>
                </div>
            </div>
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100004475354920"><span class="fab fa-facebook-f"></span></a>
                <a href="https://github.com/Deezzir"><span class="fab fa-github"></span></a>
                <a href="https://www.instagram.com/deezir__"><span class="fab fa-instagram"></span></a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="fab fa-youtube"></span></a>
            </div>
        </div>
        <div class="right box">
            <h2>
                About us
            </h2>
            <div class="content">
                <div class="text">
                    <strong>NoxuMeal</strong><span style="font-size:1rem; font-weight:200"> - we proudly collect recipes all over the world for you.
                    <br>
                    Our products are fresh and we collaborate with local farms.</span>
                </div>
                <form action="#">
                    <div class="email">
                        <div class="text">
                        </div>
                        <input type="email" placeholder="Email Address">
                    </div>
                        <div class="btn">
                            <button type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer down">
        <p>Copyright © Fall 2020, Iurii Kondrakov, WEB322NAA</p>
    </div>
</footer>    