<div class="box">
    <h3>Visit and Contact Us</h3>
    <h4>Our store is open 24/7 and our manager will answer you any time</h4>
    <hr style="color:black">
    <br>
    <div class ="grid2-container">
        <div class="grid-item">
            <center><h5>Talk to US</h5></center>
            <p>
                +1-647 - 608 - 94 - 91 <br>
                deezzir@gmail.com <br>
            </p>
            <br>
            <center><h5>Visit Us</h5></center>
            <p>
                1760 Finch Ave E
                North York, <br>ON
                Canada
                M2J 5G3
            </p>
            <br>
            <center><h5>Working Hours :</h5></center>

            <p>
                Monday 0:01am to 11.59pm<br>
                Tuesday 0:01am to 11.59pm<br>
                Wednesday 0:01am to 11.59pm<br>
                Thursday 0:01am to 11.59pm<br>
                Friday 0:01am to 11.59pm<br>
                Saturday 0:01am to 11.59pm<br>
                Sunday 0:01am to 11.59pm<br>
                Email: deezzir@gmail.com<br>
            </p>
        </div>

        <div class="grid-item" id="message">
            <center>
                <form action="" class="about-container">
                <h2>Send Message</h2>
                <input type="text" placeholder="Full Name">

                <input type="password" placeholder="Email">

                <input type="text" placeholder="Phone">

                <h4>Message</h4>
                <textarea id="message" rows="4" cols="50"></textarea>

                <button type="submit" class="btn">Send Message</button>
                </form>
            </center>
        </div>
    </div>

    <br><br>

    <div style="position:relative; bottom: 0; left: 0px;">
        <iframe data-v-43cdeb96="" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.8691835035634!2d-79.34893274868269!3d43.79632745107879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d305352684f3%3A0xe9e9da41ae97c69!2s1760%20Finch%20Ave%20E%2C%20North%20York%2C%20ON%20M2J%205G3!5e0!3m2!1sen!2sca!4v1587099105315!5m2!1sen!2sca" width="100%" height="300px" frameborder="0" allowfullscreen="allowfullscreen" aria-hidden="true" tabindex="0" class="map-iframe" style="border: 0px;"></iframe>
    </div>
</div>