.parallax1 {
    background-image: url("../images/main3.jpeg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    right: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: transparent;
}

.caption span.border {
    border-radius: 5px;
    background-color: transparent;
    color: #24454c;
    font-weight: 900;
    padding: 18px;
    width: 60%;
    font-size: 3rem;
    letter-spacing: 7px;
}

main {
    margin-bottom: 50px;
}
