/* The popup form - hidden by default */
.input-container{
    width: 100%;
    background: #def2f3;
    border: 1px solid #a9a9a9;
    display: inline-block;
    margin: 5px 0 15px 0;
}

.top{
    margin: 5px 0 5px 0;
    background: #24454c;
    border: none;
}

.top h1 {
    display: inline-block;
    width: 70%;
}

.shopping-cart h3 {
    color: #24454c;
    padding: 25px 100px;
}

.input-container input:focus,
.input-container input:active {
    outline: none;
}
.form-container input[type=text],
.form-container input[type=password],
.form-container input[type=email] {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    color: black;
    background: #def2f3;
    border: 1px solid #def2f3;
}

.form-container p {
    display: inline-block;
    color: #def2f3;
}

.input-container a.cross {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    float: right;
    margin: 10px 10px 10px;
    width: 30px;
    height: 30px;
    border: none;
}

.input-container a.fa-times {
    color: #def2f3;
    font-size: 1.5rem;
}

.input-container a.fa-times:hover {
    color: #fa2b2b;
}

.form-popup {
    display: none;
    position: fixed;
    right: 0;
    margin-top: 5px;
    border: 5px solid #def2f3;
    z-index: 9999;
}

.cart {
    z-index: 9899;
}

.form-container {
    max-width: 400px;
    padding: 10px;
    background-color: #24454c;
}

.no {
    max-width: none;
    width: 100%;
}

.form-container .btn,
.form-container a.btn-cancel {
    background-color: #1093a7;
    color: #def2f3;
    outline: none;
    padding: 16px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.0625rem;
    font-weight: 500;
    margin-bottom:10px;
    transition: 0.3s
}

.right form input,
.right form .msgForm{
    width: 100%;
    font-size: 1.0625rem;
    background: #def2f3;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
}

.right form input:focus,
.right form .msgForm:focus{
    outline-color: #1093a7;
}

.right form input{
    height: 35px;
    color: black;
    outline: none;
}

.right form .btn{
    margin-top: 10px;
}

.right form textarea {
    background: black;
    border: 1px solid #def2f3;
}

.right form .btn button{
    height: 40px;
    width: 100%;
    margin:auto; display:block;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #1093a7;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.right form .btn button:hover{
    background: #def2f3;
    color: black;
}

.form-container .cancel {
    background-color: #fa2b2b;
    font-size: 1.0625rem;
    font-weight: 500;
    color: #def2f3;
    text-align: center;
    text-decoration: none;
    display: block;
}

.form-container .btn:hover {
    background: #def2f3;
    color: black;
    outline: none;
}

.shopping-cart {
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    width: 100%;
    border-bottom: 1px solid #E1E8EE;
    padding: 10px 25px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 20px 30px;
    height: 90px;
    display: flex;
}

.item:nth-child(2) {
    border-top:  1px solid #E1E8EE;
}

.item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.buttons {
    position: relative;
    padding-top: 15px;
    margin-right: 30px;
}
.delete-btnn {
    display: inline-block;
    Cursor: pointer;
}

.delete-btnn {
    width: 18px;
    height: 17px;
    background: url("../images/delete-icn.svg") no-repeat center;
}

.delete-btnn:hover {
    background-color: red;
}

.is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
}


.description {
    padding-top: 18px;
    width: 115px;
    margin-right: 20px;
}

.description span {
    display: block;
    vertical-align: middle;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
}

.update-btn,
.close-btn {
    margin-right: 5px;
    float: right;
    background-color: #1093a7;
    color: #def2f3;
    outline: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 500;
    transition: 0.3s;
}

.quantity {
    padding-top: 15px;
    margin-right: 40px;
}
.quantity input[type=text] {
    padding: 0;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

button[class*=btnn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btnn img {
    margin-bottom: 3px;
}
.plus-btnn img {
    margin-top: 2px;
}

button:focus,
input:focus {
    outline:0;
}

.total-price {
    width: 83px;
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
}

@media (max-width: 800px) {
    .shopping-cart {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .item {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pp img {
        width: 50%;
    }
    .pp,
    .quantity,
    .description {
        width: 100%;
        text-align: center;
        margin: 6px 0;
    }
    .buttons {
        margin-right: 20px;
    }
}

@media (max-width: 400px) {
    .form-container input[type=text],
    .form-container input[type=password],
    .form-container input[type=email] {
        width: 75%;
    }
}