/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    color: black;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

td, th {
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type=submit] {
    background-color: #24454c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    margin: auto;
}
.btnl {
    background-color: #24454c;
    color: white;
    padding: 5px 5px;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    margin: auto;
}

.btnl:hover {
    background-color: #1093a7;
    border-radius: 4px;
}

.container {
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column a:hover {
    background-color: #ddd;
}


.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#myInput {
    background-color: #def2f3;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 15px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 15px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

.btna {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.bar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
    text-align: center;
}

.bar a:hover {
    background-color: #1093a7;
}

.bar a.active {
    background-color: #1093a7;
}


@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}